DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
DB_SCHEMA=cms
PAYLOAD_SECRET=change-this-in-local-and-prod
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
LOG_DIR=logs
LOG_FILENAME=application-%DATE%.log
LOG_DATE_PATTERN=YYYY-MM-DD
LOG_MAX_SIZE=20m
LOG_MAX_FILES=14d
LOG_ZIPPED_ARCHIVE=false
LOG_SYMLINK_NAME=current.log
